<%- include('../../layout.ejs') %>

<div class="row">

    <div class="col-8 mt-3">
        <a href="/admin/ingredients">Retour à l'administration des ingredients</a>
        <div class="d-flex justify-content-center align-items-center">
            <form class="mt-5" method="post">

                <% if (error) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>

                <div class="form-outline mb-4">
                    <label for="name">Nom de l'ingrédient</label>
                    <input type="text" name="name" class="form-control" placeholder="Nom de l'ingrédient" value="<%= ingredient.name %>"/>
                </div>

                <div class="form-outline mb-4">
                    <label for="qteStock">Quantité en stock</label>
                    <input type="number" name="qteStock" class="form-control" placeholder="Quantité en stock" value="<%= ingredient.qteStock %>"/>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-success w-100 p-3 mb-4">Modifier l'ingrédient</button>

            </form>
        </div>
    </div>
    <div class="col-4 mt-5 d-flex justify-content-end">
        <%- include('../../sidebar.ejs') %>
    </div>
</div>
</div>
</body>
</html>