<%- include('../../layout.ejs') %>
<a href="/admin/ingredients/add" class="btn btn-primary mt-5">Ajouter un ingrédient</a>
<div class="row">

    <div class="col-8 mt-5">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Ingrédient</th>
                <th scope="col">Quantité en stock</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <% ingredients.map((ingredient) => { %>
                <tr>
                    <td><%= ingredient.name %></td>
                    <td><%= ingredient.qteStock %></td>
                    <td><a class="btn btn-secondary" href="/admin/ingredients/edit?id=<%= ingredient.id %>">Editer</a></td>
                    <td>
                        <button id="ingredientsDeleteBtn" data-id="<%= ingredient.id %>" class="btn btn-danger">Supprimer</button>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
    <div class="col-4 mt-5 d-flex justify-content-end">
        <%- include('../../sidebar.ejs') %>
    </div>
</div>
</div>
</body>
</html>