<%- include('../../layout.ejs') %>

<div class="row">

    <div class="col-8 mt-3">
        <a href="/admin/desserts">Retour à l'administration des desserts</a>
        <div class="d-flex justify-content-center align-items-center">
            <form class="mt-5" method="post">

                <% if (error) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>

                <div class="form-outline mb-4">
                    <label for="name">Nom du dessert</label>
                    <input type="text" name="name" class="form-control" placeholder="Nom de la boisson" value="<%= dessert.name %>"/>
                </div>

                <div class="form-outline mb-4">
                    <label for="name">Prix du dessert</label>
                    <input type="text" name="price" class="form-control" placeholder="Prix" value="<%= dessert.price %>"/>
                </div>

                <button type="submit" class="btn btn-success w-100 p-3 mb-4">Modifier le dessert</button>

            </form>
        </div>
    </div>
    <div class="col-4 mt-5 d-flex justify-content-end">
        <%- include('../../sidebar.ejs') %>
    </div>
</div>
</div>
</body>
</html>