<%- include('../../layout.ejs') %>
<a href="/admin/users/add" class="btn btn-primary mt-5">Ajouter un utilisateur</a>
<div class="row">

    <div class="col-8 mt-5">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <% users.map((user) => { %>
                <tr>
                    <td><%= user.firstname %></td>
                    <td><%= user.lastname %></td>
                    <td><%= user.email %></td>
                    <td><a class="btn btn-secondary" href="/admin/users/edit?id=<%= user.id %>">Editer</a></td>
                    <td>
                        <button id="deleteBtn" data-id="<%= user.id %>" class="btn btn-danger">Supprimer</button>
                    </td>
                    <td>
                        <% if (user.isActive) { %>

                            <button id="actionBtn" data-status="<%= user.isActive %>" data-id="<%= user.id %>"
                                    class="btn btn-warning">Désactiver
                            </button>
                        <% } else { %>
                            <button id="actionBtn" data-status="<%= user.isActive %>" data-id="<%= user.id %>"
                                    class="btn btn-success">Activer
                            </button>
                        <% } %>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
    <div class="col-4 mt-5 d-flex justify-content-end">
        <%- include('../../sidebar.ejs') %>
    </div>
</div>
</div>
</body>
</html>